

body {
    background-image: url("m4.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    
}


#container {
    justify-content:center;
    height: 300px;
  position: relative;
}
#image {
    width:100%;
  position: absolute;
  left: 0;
  top: 0;
}

#text {
    font-size: 50px;
    color: white;
    z-index: 100;
   text-align: center ;
   position:absolute;
   top: 20%;
   left: 0%;
   width:100%;
   
}

#text2 {
    font-size: 22px;
    color: black;
    text-align: center;
}